.navbar {
  display: flex;
  width:100vw;
  justify-content: flex-end;
  background-color: #bce0fd;
  color: #1b90f0;

  &-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-link {
    text-decoration: none;
    color: #1b90f0;
  }

  &-element {
    padding: 10px;
    border-radius: 20px;

    &:hover {
      background-color: #fff;
      transition: all 1s;
    }
  }
}
