.btn-create {
  background-color: transparent;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 10px;
  align-items: center;
  color: white;
}

.pen {
  color: wheat;
  margin-left: 10px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
}

.search-component {
  background-color: #1b90f0;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 400px;
}

.reviews {
  margin-top: 10px;
  align-self: center;
}

.search-blog {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
  .input-container {
    align-self: flex-end;
  }
}
