.reviews {
  padding: 10px;
  width: 90%;
  background-color: #1b90f0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .review {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;

    .image {
      background-color: #6db2eb;
      width: 10%;
      border-radius: 50%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 10px;

      &-name {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1000px) {
  .review {
    font-size: medium;
  }
  .image {
    width: 100%;
  }
  .info {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .review {
    font-size: small;
  }
  .image {
    width: 100%;
  }
  .info {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .review {
    font-size: smaller;
  }
  .image {
    width: 100%;
  }
  .info {
    width: 100%;
  }
}
