@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,600&family=Balsamiq+Sans:wght@400;700&family=Roboto&display=swap");

$backGroud: #bce0fd;

.App {
  text-align: center;
  position: relative;
  // display: flex;
  flex-direction: column;
  background: url("./assets/component1.svg");
  height: 100vh;
  font-family: "Poppons", "sans-serif";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 700px) {
  .App {
    font-size: small;
  }
}

@media (max-width: 500px) {
  .App {
    font-size: x-small;
  }
}

@media (max-width: 400px) {
  .App {
    font-size: xx-small;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
